<a href="https://colab.research.google.com/github/santywin/MachinaLearning/blob/main/Regresion_lineal_simple_com_scikit_learn_division_de_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
dataset = pd.read_csv('/content/salarios.csv')
dataset.head(5)

   Aexperiencia  Salario
0          10.0    42500
1           8.0    36302
2           5.4    35000
3           2.5    18103
4           1.0    15000

In [ ]:
dataset.shape

(30, 2)

In [ ]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
X_train

array([[10. ],
       [ 7. ],
       [ 2. ],
       [ 5.3],
       [ 8. ],
       [ 3. ],
       [ 2. ],
       [ 2. ],
       [ 2.1],
       [ 5. ],
       [ 8. ],
       [ 1. ],
       [ 4. ],
       [ 1. ],
       [ 3. ],
       [ 2. ],
       [10. ],
       [ 6. ],
       [10. ],
       [ 2.5],
       [10. ],
       [ 3.4],
       [ 5. ],
       [ 3. ]])